<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>My List Page</title>
  </head>
  <body>
    <h1>My List Page</h1>
    <div id="list-container"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


      <script>
      // Loop through all text elements on the page
      document.querySelectorAll("body *:not(script)").forEach(element => {
        if (element.childNodes.length === 1 && element.childNodes[0].nodeType === Node.TEXT_NODE) {
          // Get the text content of the element
          const text = element.childNodes[0].textContent;
          // Replace the Unicode characters with their corresponding HTML entities
          const html = text
            .replace(/\u00a0/g, "&nbsp;")
            .replace(/\u00b2/g, "&sup2;");
          // Set the HTML content of the element
          element.innerHTML = html;
        }
      });
    </script>

  </body>
</html>